.header {
  background-color: #313131;
  border-color: rgb(124, 122, 122);
  text-align: left;
  margin-left: 20px;
  color: #fff;
  font-size: 30px;
  margin-bottom: 0px;
}
.header p {
  color: #fff;
  text-align: left;
  margin-left: 25px;
  font-size: small;
  font-family: sans-serif
}
.banner-titles-container{
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  font-size: 20px;
  font-family: sans-serif
}
.header-portfolio{
  color: #fff;
  border-left: orange;
  padding: 10px;
  justify-content: flex-start;
  font-size: 20px;
  font-family: sans-serif
}
.banner-titles-others{
  border-color: black;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  font-size: 20px;
  font-family: sans-serif
}
.header-others{
  justify-content: flex-start;
  margin-left: 50px;
  font-size: 20px;
  font-family: sans-serif
}
.header-others-space{
  color: black;
}



.table-container{
  background-color: #313131;
  color: #fff;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0px;
}
.table-container__table{
  background-color: #313131;
}



@media screen and (max-width: 600px) {
  .banner-titles-container{
    display: flex;
    flex-wrap: nowrap;
  }
  .header-portfolio{
    display: flex;
    flex-wrap: nowrap;
  }
  .banner-titles-others{
    display: flex;
    flex-wrap: nowrap;
  }
  .banner-titles-others {
    display: flex;
    flex-wrap: nowrap;
  }
}

.table-container thead {
    display: none;
  }

.table-container tr {
    display: block;
    margin-bottom: 5px;
  }

.table-container td {
    display: block;
    position: relative;
    padding-left: 130px;
    text-align: left;
    border-bottom: 0;
}

td:last-child {
      border-bottom: 1px solid 
      border-color;
    }

td::before {
      content: attr(data-heading);
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: primary-color;
      color: light-color;
      font-size: 0.75rem;
      padding: 0 5px;
      justify-content: center;
    }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
} 

body {
  font-family: sans-serif;
}
.header {
  padding: 50px 15px;
  background-color: #313131;
  text-align: center;
  margin-bottom: 40px;
}
.header h2 {
    font-size: 25px;
    font-weight: 300;
    text-align: left;
    margin-left: 20px;
    font-family: sans-serif;

  }

.table-container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto 40px;
}
.table-container__title {
    background-color: ;
    color: ;
    text-align: center;
    padding: 10px;
}
.table-container__title h2 {
      font-size: 24px;
      font-weight: 300;
    }

.table-container table {
    width: 100%;
    border-collapse: collapse;
}
.table-container thead {

}

.table-container tr {
        background-color: transparent;
}


.table-container td, th {
      border: 1px solid;
      padding: 10px;
      text-align: center;
    }









@media (max-width: 991px) {
  .table-container__table--break-sm{
    break-after: column;
  }
      }

@media (max-width: 767px) {
  .table-container__table--break-md{
    break-after: column;
      }
    }
@media (max-width: 575px) {
  .table-container__table--break-lg{
    break-after: column;   
      }
    }